body {
  min-width: 250px;
  background-color: pink;
  font-weight: 600;
}

#key_entered {
  display: none;
}

#change_key_button {
  border-radius: 1;
  background-color: red;
  color: white;
}

#save_key_button {
  border-radius: 1;
  background-color: green;
  color: white;
}
